[user]
	name = willelz
	email = 37827548+willelz@users.noreply.github.com
[color]
	ui = auto
[alias]
	b = branch
	co = checkout
	st = status
	cm = commit
  sw = switch
  rs = restore
[core]
	editor = nvim -c \"set fenc=utf-8\"
	quotepath = false
[credential]
	helper = cache
[pull]
	ff = only
[init]
	defaultBranch = main
