[user]
	name = willelz
	email = 37827548+willelz@users.noreply.github.com
[color]
	ui = auto
[alias]
	b = branch
	co = checkout
	st = status
	cm = commit
[core]
	editor = vim -c \"set fenc=utf-8\"
[credential]
	helper = cache
